*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.App{
  width: 500px;
  max-width:100%;
  height: 100vh;
  margin: auto;
  border:1px solid #ccc;
  position:relative;
  overflow:hidden;
}

.screens{
  display:flex;
  height:100%;
  transition: transform .5s;
}